<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="title titlecontact" (click)="open(classic,'' , '')">
    <p>Contact us</p>
</div>


<ng-template #classic let-c="close" let-d="dismiss">

    <div class="modal-footer">
        <p type="button"> </p>
        <button type="button" class="btn btn-danger" (click)="c('Close click')">Close</button>
    </div>

    <div>
        <div class="text-center modal-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title modal-title">
                            <p> Contact us for a job </p>
                        </div>

                        <p class="email email-modal"> <i class="fa fa-envelope-o emailicom"></i>hello@company.com </p>
                        <p class="phone phone-modal"> <i class="fa fa-phone phoneicon"></i>(344) 120-30-30 </p>


                    </div>
                    <div class="col-md-12 ">
                        <p class="title email-modal">Or leave your info:</p>
                    </div>
                    <div class="col-md-12 ">
                        <p class="email-modal">Well'll get in touch with you as soon as possible.</p>
                    </div>

                    <div class="col-md-12">
                        <div class=" text-center  ml-auto mr-auto">
                            <div class="col-md-12">
                                <textarea class="textareastyle" cols="80" placeholder="Your name..."></textarea>
                            </div>
                            <div class="col-md-12">
                                <textarea class="textareastyle" cols="80" placeholder="Phone or e-mail..."></textarea>
                            </div>
                            <div class="upload col-md-12">
                                <p> Upload your CV</p>
                            </div>
                            <div class="browse col-md-12">
                                <p class="btnbrowse ">
                                    Browse
                                </p>
                            </div>
                            <div class="send-button contactus">
                                <p class="btncontactus">Contact Us</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</ng-template>