<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image" data-rellax-speed="-8"
            style="background-image: url('assets/img/demo-image-02.jpg');">
        </div>
        <div class="container">
            <div class="colorblack">
                <p>
                    Company & name
                </p>
            </div>
            <div class="content-center">
                <h1 class="text-left contenttop">we are the</h1>

                <h1 class="title headhunters">headhunters.</h1>
                <div class="text-left headhuntersdesc">
                    <h5>
                        <p>The most succesful companies achieve majorbreakthroughs with just a small percentage of
                            people
                            diving growth results.</p>
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-about-us">
        <div class="container">
            <div class="row">
                <div class="ml-auto mr-auto text-center titledesc">
                    <h2 class="title">
                        <p>Our company has made a difference for the companies that are a making a difference
                            around the world.</p>
                    </h2>
                </div>
            </div>
            <div class="separator separator-primary"></div>
            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6">
                        <div class="whoweare">
                            <h4 class="text-left">who are we?</h4>
                        </div>
                        <div class="ml-auto mr-auto text-left">
                            <h2 class="title">
                                <p> Modern, new level recruitment & headhunting company.</p>
                            </h2>


                        </div>
                        <div>
                            <img class="img-fluid" src="assets/img/bg-masthead.jpg" alt="" />
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div>
                            <img class="img-fluid" src="assets/img/login.jpg" alt="" />
                        </div>
                        <div class="ml-auto mr-auto text-left different">
                            <h2 class="title">
                                <p>We are a differnt kind of firm</p>
                            </h2>


                        </div>
                    </div>





                </div>
            </div>
        </div>
    </div>

<div class="sliders">
    <div class="section-background sliders">
        <article id="slider">
            <div class="row">
                <div class="col-md-5">

                    <h1 class="heading-title heading-offers">Offers & vacancies</h1>
                </div>
                <div class="col-md-6">

                    <h4 class="heading-title heading-titledesc">
                        <p>We are very passionate to help candidates find the job
                            of their dream.Here is a list of our newest offers,
                            if you are sure that you are the right candidate, you can e-mail or call us for the job.</p>
                    </h4>
                </div>
            </div>
            <input checked type='radio' name='slider' id='slide1'/>
            <input type='radio' name='slider' id='slide2'/>
            <input type='radio' name='slider' id='slide3'/>
            <input type='radio' name='slider' id='slide4'/>
            <input type='radio' name='slider' id='slide5'/>
            <div id="slides">
            <div class="nocollapse">
                <div id="container">
                    <div class="inner">
                        <article>
                            <div class="row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="pricingTable">
                                        <div class="pricingTable-header">
                                            <span class="heading">
                                                <h4> Hr manager
                                                    <p class="font15">
                                                        at "Company name"
                                                    </p>
                                                </h4>
                
                                            </span>
                
                                        </div>
                                        <div class="pricingContent">
                                            <ul>
                                                <li>
                                                    <p>Full-time job, 5/2</p>
                                                </li>
                                                <li>
                                                    <p>1100$ per month</p>
                                                </li>
                                                <li>
                                                    <p>Paid vacation and sick leave</p>
                                                </li>
                                                <li>
                                                    <p>Work experience 3+ years</p>
                                                </li>
                                            </ul>
                                        </div><!-- /  CONTENT BOX-->
                                        <div class="pricing-plans">
                                            <div>
                                                <h3>
                                                    <ngbd-modal-component></ngbd-modal-component>
                                                </h3>
                                            </div>
                
                                        </div>
                
                                    </div>
                                </div>
                
                                <div class="col-md-4 col-sm-6">
                                    <div class="pricingTable">
                                        <div class="pricingTable-header">
                                            <span class="heading">
                                                <h4> UX Designer
                                                    <p class="font15">
                                                        at "Company name"
                                                    </p>
                                                </h4>
                
                                            </span>
                                        </div>
                                        <div class="pricingContent">
                                            <ul>
                                                <li>
                                                    <p>Full-time job, 5/2</p>
                                                </li>
                                                <li>
                                                    <p>2100$ per month</p>
                                                </li>
                                                <li>
                                                    <p>Paid vacation and sick leave</p>
                                                </li>
                                                <li>
                                                    <p>Work experience 6+ years</p>
                                                </li>
                                            </ul>
                                        </div><!-- /  CONTENT BOX-->
                                        <div class="pricing-plans">
                                            <div>
                                                <h3>
                                                    <ngbd-modal-component></ngbd-modal-component>
                                                </h3>
                                            </div>
                
                                        </div>
                                    </div>
                                </div>
                
                                <div class="col-md-4 col-sm-6">
                                    <div class="pricingTable">
                                        <div class="pricingTable-header">
                                            <span class="heading">
                                                <h4> Hr manager
                                                    <p class="font15">
                                                        at "Company name"
                                                    </p>
                                                </h4>
                
                                            </span>
                                        </div>
                                        <div class="pricingContent">
                                            <ul>
                                                <li>
                                                    <p>Full-time job, 5/2</p>
                                                </li>
                                                <li>
                                                    <p>1100$ per month</p>
                                                </li>
                                                <li>
                                                    <p>Paid vacation and sick leave</p>
                                                </li>
                                                <li>
                                                    <p>Work experience 3+ years</p>
                                                </li>
                                            </ul>
                                        </div><!-- /  CONTENT BOX-->
                                        <div class="pricing-plans">
                                            <div>
                                                <h3>
                                                    <ngbd-modal-component></ngbd-modal-component>
                                                </h3>
                                            </div>
                
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                        
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <div class="pricingTable">
                                    <div class="pricingTable-header">
                                        <span class="heading">
                                            <h4> Hr manager
                                                <p class="font15">
                                                    at "Company name"
                                                </p>
                                            </h4>
            
                                        </span>
            
                                    </div>
                                    <div class="pricingContent">
                                        <ul>
                                            <li>
                                                <p>Full-time job, 5/2</p>
                                            </li>
                                            <li>
                                                <p>1100$ per month</p>
                                            </li>
                                            <li>
                                                <p>Paid vacation and sick leave</p>
                                            </li>
                                            <li>
                                                <p>Work experience 3+ years</p>
                                            </li>
                                        </ul>
                                    </div><!-- /  CONTENT BOX-->
                                    <div class="pricing-plans">
                                        <div>
                                            <h3>
                                                <ngbd-modal-component></ngbd-modal-component>
                                            </h3>
                                        </div>
            
                                    </div>
            
                                </div>
                            </div>
            
                            <div class="col-md-4 col-sm-6">
                                <div class="pricingTable">
                                    <div class="pricingTable-header">
                                        <span class="heading">
                                            <h4> UX Designer
                                                <p class="font15">
                                                    at "Company name"
                                                </p>
                                            </h4>
            
                                        </span>
                                    </div>
                                    <div class="pricingContent">
                                        <ul>
                                            <li>
                                                <p>Full-time job, 5/2</p>
                                            </li>
                                            <li>
                                                <p>2100$ per month</p>
                                            </li>
                                            <li>
                                                <p>Paid vacation and sick leave</p>
                                            </li>
                                            <li>
                                                <p>Work experience 6+ years</p>
                                            </li>
                                        </ul>
                                    </div><!-- /  CONTENT BOX-->
                                    <div class="pricing-plans">
                                        <div>
                                            <h3>
                                                <ngbd-modal-component></ngbd-modal-component>
                                            </h3>
                                        </div>
            
                                    </div>
                                </div>
                            </div>
            
                            <div class="col-md-4 col-sm-6">
                                <div class="pricingTable">
                                    <div class="pricingTable-header">
                                        <span class="heading">
                                            <h4> Hr manager
                                                <p class="font15">
                                                    at "Company name"
                                                </p>
                                            </h4>
            
                                        </span>
                                    </div>
                                    <div class="pricingContent">
                                        <ul>
                                            <li>
                                                <p>Full-time job, 5/2</p>
                                            </li>
                                            <li>
                                                <p>1100$ per month</p>
                                            </li>
                                            <li>
                                                <p>Paid vacation and sick leave</p>
                                            </li>
                                            <li>
                                                <p>Work experience 3+ years</p>
                                            </li>
                                        </ul>
                                    </div><!-- /  CONTENT BOX-->
                                    <div class="pricing-plans">
                                        <div>
                                            <h3>
                                                <ngbd-modal-component></ngbd-modal-component>
                                            </h3>
                                        </div>
            
                                    </div>
                                </div>
                            </div>
                        </div>
                        </article>
                        <article>
                            <div class="row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="pricingTable">
                                        <div class="pricingTable-header">
                                            <span class="heading">
                                                <h4> Hr manager
                                                    <p class="font15">
                                                        at "Company name"
                                                    </p>
                                                </h4>
                
                                            </span>
                
                                        </div>
                                        <div class="pricingContent">
                                            <ul>
                                                <li>
                                                    <p>Full-time job, 5/2</p>
                                                </li>
                                                <li>
                                                    <p>1100$ per month</p>
                                                </li>
                                                <li>
                                                    <p>Paid vacation and sick leave</p>
                                                </li>
                                                <li>
                                                    <p>Work experience 3+ years</p>
                                                </li>
                                            </ul>
                                        </div><!-- /  CONTENT BOX-->
                                        <div class="pricing-plans">
                                            <div>
                                                <h3>
                                                    <ngbd-modal-component></ngbd-modal-component>
                                                </h3>
                                            </div>
                
                                        </div>
                
                                    </div>
                                </div>
                
                                <div class="col-md-4 col-sm-6">
                                    <div class="pricingTable">
                                        <div class="pricingTable-header">
                                            <span class="heading">
                                                <h4> UX Designer
                                                    <p class="font15">
                                                        at "Company name"
                                                    </p>
                                                </h4>
                
                                            </span>
                                        </div>
                                        <div class="pricingContent">
                                            <ul>
                                                <li>
                                                    <p>Full-time job, 5/2</p>
                                                </li>
                                                <li>
                                                    <p>2100$ per month</p>
                                                </li>
                                                <li>
                                                    <p>Paid vacation and sick leave</p>
                                                </li>
                                                <li>
                                                    <p>Work experience 6+ years</p>
                                                </li>
                                            </ul>
                                        </div><!-- /  CONTENT BOX-->
                                        <div class="pricing-plans">
                                            <div>
                                                <h3>
                                                    <ngbd-modal-component></ngbd-modal-component>
                                                </h3>
                                            </div>
                
                                        </div>
                                    </div>
                                </div>
                
                                <div class="col-md-4 col-sm-6">
                                    <div class="pricingTable">
                                        <div class="pricingTable-header">
                                            <span class="heading">
                                                <h4> Hr manager
                                                    <p class="font15">
                                                        at "Company name"
                                                    </p>
                                                </h4>
                
                                            </span>
                                        </div>
                                        <div class="pricingContent">
                                            <ul>
                                                <li>
                                                    <p>Full-time job, 5/2</p>
                                                </li>
                                                <li>
                                                    <p>1100$ per month</p>
                                                </li>
                                                <li>
                                                    <p>Paid vacation and sick leave</p>
                                                </li>
                                                <li>
                                                    <p>Work experience 3+ years</p>
                                                </li>
                                            </ul>
                                        </div><!-- /  CONTENT BOX-->
                                        <div class="pricing-plans">
                                            <div>
                                                <h3>
                                                    <ngbd-modal-component></ngbd-modal-component>
                                                </h3>
                                            </div>
                
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="pricingTable">
                                        <div class="pricingTable-header">
                                            <span class="heading">
                                                <h4> Hr manager
                                                    <p class="font15">
                                                        at "Company name"
                                                    </p>
                                                </h4>
                
                                            </span>
                
                                        </div>
                                        <div class="pricingContent">
                                            <ul>
                                                <li>
                                                    <p>Full-time job, 5/2</p>
                                                </li>
                                                <li>
                                                    <p>1100$ per month</p>
                                                </li>
                                                <li>
                                                    <p>Paid vacation and sick leave</p>
                                                </li>
                                                <li>
                                                    <p>Work experience 3+ years</p>
                                                </li>
                                            </ul>
                                        </div><!-- /  CONTENT BOX-->
                                        <div class="pricing-plans">
                                            <div>
                                                <h3>
                                                    <ngbd-modal-component></ngbd-modal-component>
                                                </h3>
                                            </div>
                
                                        </div>
                
                                    </div>
                                </div>
                
                                <div class="col-md-4 col-sm-6">
                                    <div class="pricingTable">
                                        <div class="pricingTable-header">
                                            <span class="heading">
                                                <h4> UX Designer
                                                    <p class="font15">
                                                        at "Company name"
                                                    </p>
                                                </h4>
                
                                            </span>
                                        </div>
                                        <div class="pricingContent">
                                            <ul>
                                                <li>
                                                    <p>Full-time job, 5/2</p>
                                                </li>
                                                <li>
                                                    <p>2100$ per month</p>
                                                </li>
                                                <li>
                                                    <p>Paid vacation and sick leave</p>
                                                </li>
                                                <li>
                                                    <p>Work experience 6+ years</p>
                                                </li>
                                            </ul>
                                        </div><!-- /  CONTENT BOX-->
                                        <div class="pricing-plans">
                                            <div>
                                                <h3>
                                                    <ngbd-modal-component></ngbd-modal-component>
                                                </h3>
                                            </div>
                
                                        </div>
                                    </div>
                                </div>
                
                                <div class="col-md-4 col-sm-6">
                                    <div class="pricingTable">
                                        <div class="pricingTable-header">
                                            <span class="heading">
                                                <h4> Hr manager
                                                    <p class="font15">
                                                        at "Company name"
                                                    </p>
                                                </h4>
                
                                            </span>
                                        </div>
                                        <div class="pricingContent">
                                            <ul>
                                                <li>
                                                    <p>Full-time job, 5/2</p>
                                                </li>
                                                <li>
                                                    <p>1100$ per month</p>
                                                </li>
                                                <li>
                                                    <p>Paid vacation and sick leave</p>
                                                </li>
                                                <li>
                                                    <p>Work experience 3+ years</p>
                                                </li>
                                            </ul>
                                        </div><!-- /  CONTENT BOX-->
                                        <div class="pricing-plans">
                                            <div>
                                                <h3>
                                                    <ngbd-modal-component></ngbd-modal-component>
                                                </h3>
                                            </div>
                
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="row">
                                <div class="col-md-4 col-sm-6">
                                    <div class="pricingTable">
                                        <div class="pricingTable-header">
                                            <span class="heading">
                                                <h4> Hr manager
                                                    <p class="font15">
                                                        at "Company name"
                                                    </p>
                                                </h4>
                
                                            </span>
                
                                        </div>
                                        <div class="pricingContent">
                                            <ul>
                                                <li>
                                                    <p>Full-time job, 5/2</p>
                                                </li>
                                                <li>
                                                    <p>1100$ per month</p>
                                                </li>
                                                <li>
                                                    <p>Paid vacation and sick leave</p>
                                                </li>
                                                <li>
                                                    <p>Work experience 3+ years</p>
                                                </li>
                                            </ul>
                                        </div><!-- /  CONTENT BOX-->
                                        <div class="pricing-plans">
                                            <div>
                                                <h3>
                                                    <ngbd-modal-component></ngbd-modal-component>
                                                </h3>
                                            </div>
                
                                        </div>
                
                                    </div>
                                </div>
                
                                <div class="col-md-4 col-sm-6">
                                    <div class="pricingTable">
                                        <div class="pricingTable-header">
                                            <span class="heading">
                                                <h4> UX Designer
                                                    <p class="font15">
                                                        at "Company name"
                                                    </p>
                                                </h4>
                
                                            </span>
                                        </div>
                                        <div class="pricingContent">
                                            <ul>
                                                <li>
                                                    <p>Full-time job, 5/2</p>
                                                </li>
                                                <li>
                                                    <p>2100$ per month</p>
                                                </li>
                                                <li>
                                                    <p>Paid vacation and sick leave</p>
                                                </li>
                                                <li>
                                                    <p>Work experience 6+ years</p>
                                                </li>
                                            </ul>
                                        </div><!-- /  CONTENT BOX-->
                                        <div class="pricing-plans">
                                            <div>
                                                <h3>
                                                    <ngbd-modal-component></ngbd-modal-component>
                                                </h3>
                                            </div>
                
                                        </div>
                                    </div>
                                </div>
                
                                <div class="col-md-4 col-sm-6">
                                    <div class="pricingTable">
                                        <div class="pricingTable-header">
                                            <span class="heading">
                                                <h4> Hr manager
                                                    <p class="font15">
                                                        at "Company name"
                                                    </p>
                                                </h4>
                
                                            </span>
                                        </div>
                                        <div class="pricingContent">
                                            <ul>
                                                <li>
                                                    <p>Full-time job, 5/2</p>
                                                </li>
                                                <li>
                                                    <p>1100$ per month</p>
                                                </li>
                                                <li>
                                                    <p>Paid vacation and sick leave</p>
                                                </li>
                                                <li>
                                                    <p>Work experience 3+ years</p>
                                                </li>
                                            </ul>
                                        </div><!-- /  CONTENT BOX-->
                                        <div class="pricing-plans">
                                            <div>
                                                <h3>
                                                    <ngbd-modal-component></ngbd-modal-component>
                                                </h3>
                                            </div>
                
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                       
                    </div>
                </div>
            </div>
            <div class="collapse">
                <div id="container">
                    <div class="inner">
                        <article>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="pricingTable">
                                        <div class="pricingTable-header">
                                            <span class="heading">
                                                <h4> Hr manager
                                                    <p class="font15">
                                                        at "Company name"
                                                    </p>
                                                </h4>
                
                                            </span>
                
                                        </div>
                                        <div class="pricingContent">
                                            <ul>
                                                <li>
                                                    <p>Full-time job, 5/2</p>
                                                </li>
                                                <li>
                                                    <p>1100$ per month</p>
                                                </li>
                                                <li>
                                                    <p>Paid vacation and sick leave</p>
                                                </li>
                                                <li>
                                                    <p>Work experience 3+ years</p>
                                                </li>
                                            </ul>
                                        </div><!-- /  CONTENT BOX-->
                                        <div class="pricing-plans">
                                            <div>
                                                <h3>
                                                    <ngbd-modal-component></ngbd-modal-component>
                                                </h3>
                                            </div>
                
                                        </div>
                
                                    </div>
                                </div>
                
                                
                            </div>
                        </article>
                        <article>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="pricingTable">
                                        <div class="pricingTable-header">
                                            <span class="heading">
                                                <h4> Hr manager
                                                    <p class="font15">
                                                        at "Company name"
                                                    </p>
                                                </h4>
                
                                            </span>
                
                                        </div>
                                        <div class="pricingContent">
                                            <ul>
                                                <li>
                                                    <p>Full-time job, 5/2</p>
                                                </li>
                                                <li>
                                                    <p>1100$ per month</p>
                                                </li>
                                                <li>
                                                    <p>Paid vacation and sick leave</p>
                                                </li>
                                                <li>
                                                    <p>Work experience 3+ years</p>
                                                </li>
                                            </ul>
                                        </div><!-- /  CONTENT BOX-->
                                        <div class="pricing-plans">
                                            <div>
                                                <h3>
                                                    <ngbd-modal-component></ngbd-modal-component>
                                                </h3>
                                            </div>
                
                                        </div>
                
                                    </div>
                                </div>
                
                                
                            </div>
                        </article>
                        <article>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <div class="pricingTable">
                                        <div class="pricingTable-header">
                                            <span class="heading">
                                                <h4> Hr manager
                                                    <p class="font15">
                                                        at "Company name"
                                                    </p>
                                                </h4>
                
                                            </span>
                
                                        </div>
                                        <div class="pricingContent">
                                            <ul>
                                                <li>
                                                    <p>Full-time job, 5/2</p>
                                                </li>
                                                <li>
                                                    <p>1100$ per month</p>
                                                </li>
                                                <li>
                                                    <p>Paid vacation and sick leave</p>
                                                </li>
                                                <li>
                                                    <p>Work experience 3+ years</p>
                                                </li>
                                            </ul>
                                        </div><!-- /  CONTENT BOX-->
                                        <div class="pricing-plans">
                                            <div>
                                                <h3>
                                                    <ngbd-modal-component></ngbd-modal-component>
                                                </h3>
                                            </div>
                
                                        </div>
                
                                    </div>
                                </div>
                
                                
                            </div>
                        </article>
                        <article>
                        
                        <div class="row">
                           
            
                            <div class="col-md-6 col-sm-6">
                                <div class="pricingTable">
                                    <div class="pricingTable-header">
                                        <span class="heading">
                                            <h4> UX Designer
                                                <p class="font15">
                                                    at "Company name"
                                                </p>
                                            </h4>
            
                                        </span>
                                    </div>
                                    <div class="pricingContent">
                                        <ul>
                                            <li>
                                                <p>Full-time job, 5/2</p>
                                            </li>
                                            <li>
                                                <p>2100$ per month</p>
                                            </li>
                                            <li>
                                                <p>Paid vacation and sick leave</p>
                                            </li>
                                            <li>
                                                <p>Work experience 6+ years</p>
                                            </li>
                                        </ul>
                                    </div><!-- /  CONTENT BOX-->
                                    <div class="pricing-plans">
                                        <div>
                                            <h3>
                                                <ngbd-modal-component></ngbd-modal-component>
                                            </h3>
                                        </div>
            
                                    </div>
                                </div>
                            </div>
            
                        </div>
                        </article>
                        <article>
                            <div class="row">
                              
                
                                <div class="col-md-6 col-sm-6">
                                    <div class="pricingTable">
                                        <div class="pricingTable-header">
                                            <span class="heading">
                                                <h4> Hr manager
                                                    <p class="font15">
                                                        at "Company name"
                                                    </p>
                                                </h4>
                
                                            </span>
                                        </div>
                                        <div class="pricingContent">
                                            <ul>
                                                <li>
                                                    <p>Full-time job, 5/2</p>
                                                </li>
                                                <li>
                                                    <p>1100$ per month</p>
                                                </li>
                                                <li>
                                                    <p>Paid vacation and sick leave</p>
                                                </li>
                                                <li>
                                                    <p>Work experience 3+ years</p>
                                                </li>
                                            </ul>
                                        </div><!-- /  CONTENT BOX-->
                                        <div class="pricing-plans">
                                            <div>
                                                <h3>
                                                    <ngbd-modal-component></ngbd-modal-component>
                                                </h3>
                                            </div>
                
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                       
                    </div>
                </div>
            </div>
            </div>
            <div id="commands">
                <label for='slide1'></label>
                <label for='slide2'></label>
                <label for='slide3'></label>
                <label for='slide4'></label>
                <label for='slide5'></label>
            </div>
            <div id="active" >
                <label for='slide1' class="margin-left"></label>
                <label for='slide2'class=" margin-left"></label>
                <label for='slide3'class=" margin-left"></label>
                <label for='slide4'class=" margin-left"></label>
                <label for='slide5'class=" margin-left"></label>
            </div>
            </article>


            
    </div>
</div>
    <div class="section section-contact-us text-center">
        <div class="container">
            <div class="row">
                <div class="content-center">
                    <div class="padding100">
                        <div class="advantages">
                            <h1 class="text-left our">Our</h1>
                        </div>
                        <h1 class="title font60">Advantages.</h1>
                    </div>
                </div>

            </div>
            <div class="separator separator-primary"></div>
            <div class="section-story-overview">
                <div class="row">
                    <div class="col-md-6">
                        <div class="whychooseus">
                            <h4 class="text-left">Why choose us?</h4>
                        </div>
                        <div class="ml-auto mr-auto text-left">
                            <h2 class="title">
                                <p>We are a company of a new generation.</p>
                            </h2>


                        </div>
                        <div>
                            <img class="img-fluid" src="assets/img/bg-masthead.jpg" alt="" />
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div>
                            <img class="img-fluid" src="assets/img/login.jpg" alt="" />
                        </div>
                        <div class="ml-auto mr-auto text-left company">
                            <h4 class="font15 textleft colorblack">
                                <p class="different2">We are very passionate to help candidates find the
                                    job of their dream.Here is a list of our newest offers,
                                    if you are sure that you are the right candidate, you can e-mail or call us for the
                                    job.</p>
                            </h4>

                        </div>
                    </div>





                </div>
            </div>
        </div>
    </div>

    <div class="section text-center job">

        <footer class="footer footer-default">
            <div class="container">
                <div class="row colorblack text-center">
                    <div class="col-md-5 colorblack">

                        <div class="title titlecontact">
                            Contact us for a job
                        </div>


                        <p class="email"> <i class="fa fa-envelope-o emailicon"></i>hello@company.com </p>
                        <p class="phone"> <i class="fa fa-phone phoneicon"></i>(344) 120-30-30 </p>

                    </div>
                    <div class="col-md-7">
                        <div class="title navtitle">
                            <nav>
                                <ul>
                                    <li>
                                        <a href="#">
                                            Home
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            About Us
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            vacancies list
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            contac us
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="copyright">
                            Company & name
                            &copy;
                            {{data | date: 'yyyy'}}
                            <div>
                                <a>All rights reserved.</a>
                            </div>
                        </div>

                    </div>

                </div>


            </div>
        </footer>
    </div>
    <ng-template #classic let-c="close" let-d="dismiss">
        <div class="modal-header justify-content-center">
            <button type="button" class="close" (click)="d('Cross click')">
                <i class="now-ui-icons ui-1_simple-remove"></i>
            </button>
            <h4 class="title title-up">Modal title</h4>
        </div>
        <div class="modal-body">
            <p class="different2">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
                blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language
                ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It
                is a paradisematic country, in which roasted parts of sentences fly into your mouth.
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default">Nice Button</button>
            <button type="button" class="btn btn-danger" (click)="c('Close click')">Close</button>
        </div>
    </ng-template>

</div>