.footer{
    padding: 5px 0;
    color: black;

        nav{
    }

    ul{
        margin-bottom: 0;
        padding: 0;
        list-style: none;

        li{
            display: inline-block;

            a{
                color: inherit;
                padding: $padding-base-vertical;
                font-size: $font-size-small;
                text-transform: uppercase;
                text-decoration: none;

                &:hover{
                    text-decoration: none;
                }
            }
        }
    }

    .copyright{
        font-size: $font-size-small;

    }

    &:after{
        display: table;
        clear: both;
        content: " ";
    }

    .navtitle{
        text-align: center; 
        font-size: 20px;
    }
}
