.section{
    padding: 10px 0;
    position: relative;
    background: $white-color;

    .row + .category{
        margin-top: $margin-base-vertical;
    }
}
.section-navbars{
    padding-bottom: 0;
}

.section-full-screen{
    height: 100vh;
}
.section-signup{
    padding-top: 20vh;
}

.page-header{
    height: 100vh;
    max-height: 1050px;
    padding: 0;
    color: $white-color;
    position: relative;

    background-position: center center;
    background-size: cover;


@media screen and (min-width:500px){
    .page-header-image{
        background-size: cover;
        background-position: center center;
        width: 55%;
        height: 100%;
        z-index: -1;

    }
    .nocollapse{
        display: block !important;;
    }
    .collapse{
        display: none !important;;
    }
}
@media screen and (min-width:275px){
    .page-header-image{
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    .nocollapse{
        display: none !important;;
    }
    .collapse{
        display: block !important;;
    }
    
}
@media screen and (min-width:1050px){
    .page-header-image{
        background-size: cover;
        background-position: center center;
        width: 55%;
        height: 100%;
        z-index: -1;
    }
    .nocollapse{
        display: block !important;;
    }
    .collapse{
        display: none !important;;
    }
}
@media screen and (min-width:1370px){
    .page-header-image{
        background-size: cover;
        background-position: center center;
        width: 55%;
        height: 100%;
        z-index: -1;
    }
    .nocollapse{
        display: block !important;;
    }
    .collapse{
        display: none !important;;
    }
}
    footer{
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    .container{
        height: 100%;
        z-index: 1;
        text-align: center;

         .content-center{
            position: absolute;
            top: 60%;
            left: 50%;

            -ms-transform: translate(-50%,-50%);
            -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);

            text-align: center;
            padding: 0 15px;
            color: #FFFFFF;
            width: 100%;
            max-width: 880px;
        }
    }
    .category,
    .description{
        color: $opacity-5;
    }

    &.page-header-small{
        min-height: 80vh;
        max-height: 800px;
        background-color: black;
    }

    &:after,
    &:before{
        position: absolute;
        z-index: 0;
        width: 100%;
        height: 100%;
        display: block;
        left: 0;
        top: 0;
        content: "";
    }

    &:before{
        background-color: rgba(0,0,0,.5);
    }

    &[filter-color="orange"]{
        @include linear-gradient(rgba($black-color,.20), rgba(224, 23, 3, 0.6));
    }

    .container{
        z-index: 2;
    }

}

.clear-filter{
    &:after,
    &:before{
        display: none;
    }
}
.contenttop{
    font-size:25px;
    padding-left: 180px;
    margin-bottom: -10px;
    color: orange;
}
.headhunters{
    font-size: 80px;
}

   
@media screen and (max-width:500px){
    .headhunters{
        font-size: 50px;
    }
}
@media screen and (max-width:350px){
    .headhunters{
        font-size: 40px;
       
    }
    .contenttop{
        font-size:17px;
        padding-left: 200px;
        margin-bottom: -10px;
        color: orange;
    }
    .headhuntersdesc{
        float:right;
        width:200px;
        padding-left: 100px;
        text-align: left;
    }
}
.headhuntersdesc{
    float:right;
    width:400px;
    padding-left: 50px;
}
.different{
    margin-top: 90px;
    padding-right: 45px;
}
.different2{
    border-left: orange;
    border-style: solid;
    border-right: white;
    border-top: white;
    border-bottom: white;
    padding-left: 10px;
}
.advantages{
    font-size: 40px;
    padding-left: 85px;
    margin-bottom: -30px;
    color: orange;
}
.whychooseus{
    border-left:white; 
    border-style: solid; 
    border-right: white; 
    border-top: white; 
    border-bottom: orange;
}

.titledesc{
    border-left: orange; 
    border-style: solid; 
    border-right: white;
    border-top: white; 
    border-bottom: white;
}
.whoweare{
    border-left:white; 
    border-style: solid; 
    border-right: white; 
    border-top: white; 
    border-bottom: orange;
}
.section-story-overview{
    padding: 50px 0;

    .image-container{
        height: 335px;
        position: relative;
        background-position: center center;
        background-size: cover;
        box-shadow: $box-shadow-raised;
        border-radius: .25rem;

        & + .category{
            padding-top: 15px;
        }

        &.image-right{
            z-index: 2;

            + h3.title{
                margin-top: 120px;
            }
        }

        &.image-left{
            z-index: 1;
        }

        &:nth-child(2){
            margin-top: 420px;
            margin-left: -105px;
        }
    }

    p.blockquote{
        width: 220px;
        min-height: 180px;
        text-align: left;
        position: absolute;
        top: 376px;
        right: 155px;
        z-index: 0;
    }
}

.section-nucleo-icons{
     .nucleo-container img{
        width: auto;
        left: 0;
        top: 0;
        height: 100%;
        position: absolute;
    }

     .nucleo-container{
        height: 335px;
        position: relative;
    }

     h5{
        margin-bottom: 35px;
    }

     .icons-container{
        position: relative;
        max-width: 450px;
        height: 300px;
        max-height: 300px;
        margin: 0 auto;

    }
     .icons-container i{
        font-size: 34px;
        position: absolute;
        left: 0;
        top: 0;
    }

     .icons-container i:nth-child(1){
        top: 5%;
        left: 7%;
    }

     .icons-container i:nth-child(2){
         top: 28%;
         left: 24%;
    }

     .icons-container i:nth-child(3){
         top: 40%;
    }

     .icons-container i:nth-child(4){
         top: 18%;
         left: 62%;
    }

     .icons-container i:nth-child(5){
         top: 74%;
         left: 3%;
    }

     .icons-container i:nth-child(6){
         top: 36%;
         left: 44%;
        font-size: 65px;
        color: #f96332;
        padding: 1px;
    }

     .icons-container i:nth-child(7){
         top: 59%;
         left: 26%;
    }

     .icons-container i:nth-child(8){
         top: 60%;
         left: 69%;
    }

     .icons-container i:nth-child(9){
        top: 72%;
        left: 47%;
    }

     .icons-container i:nth-child(10){
         top: 88%;
         left: 27%;
    }

     .icons-container i:nth-child(11){
         top: 31%;
         left: 80%;
    }

     .icons-container i:nth-child(12){
         top: 88%;
         left: 68%;
    }

     .icons-container i:nth-child(13){
         top: 5%;
         left: 81%;
    }

     .icons-container i:nth-child(14){
         top: 58%;
         left: 90%;
    }

     .icons-container i:nth-child(15){
        top: 6%;
        left: 40%;
    }
}

.section-images{
    max-height: 670px;
    height: 670px;

    .hero-images-container,
    .hero-images-container-1,
    .hero-images-container-2{
        margin-top: -38vh;
    }

    .hero-images-container{
        max-width: 670px;
    }

    .hero-images-container-1{
        max-width: 390px;
        position: absolute;
        top: 55%;
        right: 18%;

    }

    .hero-images-container-2{
        max-width: 225px;
        position: absolute;
        top: 68%;
        right: 12%;
    }
}


[data-background-color="orange"]{
    background-color: $orange-bg;
}
[data-background-color="black"]{
    background-color: $black-color;
}

[data-background-color]{
    color: $white-color;

    .title,
    .social-description h2,
    p,
    p.blockquote,
    p.blockquote small,
    h1,h2,h3,h4,h5,h6,a:not(.btn):not(.dropdown-item),
    .icons-container i{
        color: $white-color;
    }

    .separator{
        background-color: $white-color;
    }

    .navbar.bg-white p{
        color: $default-color;
    }

    .description,
    .social-description p{
        color: $opacity-8;
    }

    p.blockquote{
        border-color: $opacity-2;
    }

    //radio and checkboxes
    .checkbox label::before,
    .checkbox label::after,
    .radio label::before,
    .radio label::after{
        border-color: $opacity-2;
    }

    .checkbox label::after,
    .checkbox label,
    .radio label{
        color: $white-color;
    }

    .checkbox input[type="checkbox"]:disabled + label,
    .radio input[type="radio"]:disabled + label  {
        color: $white-color;
    }

    .radio input[type="radio"]:not(:disabled):hover + label::after,
    .radio input[type="radio"]:checked + label::after {
        background-color: $white-color;
        border-color: $white-color;
    }

    //inputs
    @include input-coloured-bg($opacity-5, $white-color, $white-color, $transparent-bg, $opacity-1, $opacity-2);

    .input-group-text,
    .form-group.form-group-no-border .input-group-text,
    .input-group.form-group-no-border .input-group-text{
        color: $opacity-8;
    }

    //buttons
    .btn.btn-simple{
        background-color: $transparent-bg;
        border-color: $opacity-5;
        color: $white-color;

        &:hover,
        &:hover,
        &:focus,
        &:active{
            background-color: $transparent-bg;
            border-color: $white-color;
        }
    }

    //tabs
    .nav-tabs{
        > .nav-item{
            >.nav-link{
                i.now-ui-icons{
                    color: $white-color;
                }
            }
        }
    }

    &.section-nucleo-icons .icons-container i:nth-child(6){
        color: $white-color;
    }
}
.demo
{
	padding: 100px 0;
}
.section-background{
    background: black;
}
.heading-title
{
    margin-bottom: 100px;
    color: white;
}
.padding100{
    padding-right: 100px;
}
.job{
    border-style: solid; 
    border-left: white; 
    border-right: white; 
    border-bottom: white;
}
.heading-offers{
    padding-right: 30px; 
    font-size: 50px; 
    text-align: left;
}
.heading-titledesc{
    font-size: 15px; 
    text-align: left;
}
.pricingTable .heading-title:after{
    content: "";
    width: 50%;
    display: block;
    margin: 15px auto;
    border-top: 2px solid orange;
    transition: all 0.4s ease 0s
}

.pricingTable{
    text-align: center;
    background: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-color: white;
    transition: all 0.4s ease 0s;
    color: white;
    
}

.pricingTable:hover{
    border-color: orange;
    color:#fff;
    margin-top: -1px;
}

.pricingTable .pricingTable-header{
    padding: 20px 10px;
}

.pricingTable .heading{
    display: block;
    font-size: 21px;
    font-weight: 900;
    color: white;
    transition: all 0.4s ease 0s;
}

.pricingTable:hover .heading{
    color: white;
}
.titlecontact{
    cursor: pointer;
    font-size: 20px;
}
.emailicon{
    width: 20px; 
    height: 20px; 
    color: orange;
    font-size: 15px;
}
.phoneicon{
    width: 30px; 
    height: 30px; 
    color: orange; 
    font-size: 15px;
}
.email{
    font-size: 17px;
}
.phone{
    font-size: 15px;
}
.pricingTable .heading:after{
    content: "";
    width: 50%;
    display: block;
    margin: 15px auto;
    border-top: 2px solid white;
    transition: all 0.4s ease 0s;
}

.pricingTable:hover .heading:after{
    border-bottom-color: orange;
}

.pricingTable .pricingContent ul{
    padding: 0;
    margin-bottom: 0;
    list-style: none;
}
.font15{
    font-size: 15px;
}
.font60{
    font-size: 60px;

}
.our{
    font-size:30px;
    margin-bottom:5px;
    padding-left: 20px;
}
.colorblack{
    color: black
}
.textleft{
    text-align: left;
}
.company{
    margin-top: 60px; 
    padding-right: 100px;
}

.pricingTable .pricingContent ul li{
    padding: 15px 0;
    width: 80%;
    margin: 0 auto;
    border-bottom:1px solid #d3d3d3;
    letter-spacing: 1px;
    text-align: left;
}

.pricingTable .pricing-plans{
    padding: 10px;
    color:white;
    position: relative;
    transition: all 0.4s ease 0s;
    border-color: orange;
    border-style: solid;
    height: 70px;
    margin: 15px;
}

.pricingTable:hover .pricing-plans{
    color:#fff;
    background-color: orange;
}

.pricingTable .price-value{
    display: inline-block;
    font-size: 50px;
    font-weight: 800;
}

.pricingTable .price-value i{
    margin-right: 10px;
}

.pricingTable .price-value span{
    font-size: 25px;
    margin-left: 10px;
    position: absolute;
    top: 47px;
}

.pricingTable .month{
    margin-left: 10px;
    position: absolute;
    bottom: 57px;
    font-size:10px;
    text-transform: uppercase;
}

.pricingTable .pricingTable-sign-up{
    position: relative;
    transition: all 0.5s ease 0s;
}

.pricingTable:hover .pricingTable-sign-up{
    padding: 30px 0;
}

.pricingTable .btn-block{
    width: 60%;
    padding: 14px 0;
    border: 0 none;
    color: #fff;
    font-size: 25px;
    background: #50c9d6;
    text-transform: uppercase;
    position:absolute;
    top:-50px;
    left: 20%;
    opacity: 0;
    transition: all 0.5s ease 0s;
}

.pricingTable:hover .btn-block{
    top:30px;
    opacity: 1;
}

.pricingTable.active{
    background: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-color: orange;
    box-shadow: white;
    color: #fff;
    margin-top: -15px;
}

.pricingTable.active .heading:before{
    border-top-color: #fff;
}

.pricingTable.active .heading,
.pricingTable.active .price-value,
.pricingTable.active .month{
    color: #fff;
}

.pricingTable.active .pricingTable-sign-up{
    padding: 30px 0;
}

.pricingTable.active .btn-block{
    opacity: 1;
    top:30px;
}

@media screen and (max-width:990px){
    .pricingTable{
        margin-bottom: 50px;
    }
}

@media screen and (max-width:767px){
    .pricingTable.active{
        margin-top: 0;
    }
}

.contactus{
    width: 200px; 
    height: 50px; 
    margin-top: 20px;
    margin-left:auto;
    margin-right:auto;

}
.btncontactus{
    width: 150px; 
    height: 40px; 
    background-color: black; 
    color: white; border: solid;
    border-color: white;
    padding-top: 10px;
    margin: auto;
    cursor: pointer;
}

.browse{
    width: 130px; 
    height: 40px; 
    border: solid; 
    border-color: white; 
    margin-top: 10px; 
    cursor: pointer;
    margin-left:auto;
    margin-right:auto;
}
.btnbrowse{
    padding-top: 10px; 
    color: white;
    margin-right:auto;
}
.btnbrowse:hover{
    height: 50px; 
    border-color: orange
}
.btncontactus:hover{
    border-color: orange
}
.browse:hover{ 
    border-color: orange

}
.textareastyle{
    color: #fff;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 45px;
    background: transparent;
    border-bottom: 1px solid black;
    outline: none;border-bottom: 1px solid black;
    border-top: black;
    border-left: black;
    border-right: black;
    border-style: solid;
}
.textareastyle:hover{
    border-bottom: 1px solid white;

}

#slider {
	text-align: center
}

label
{
	color: brown;
	cursor: pointer;
	text-decoration: none;
	font-style: italic
}

label:hover
 {
	color: #ddd!important
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box
}

label,
#active,
img {
	-moz-user-select: none;
	-webkit-user-select: none
}

.catch {
	display: block;
	height: 0;
	overflow: hidden
}

#slider {
	margin: 0 auto
}

input {
	display: none
}

#slide1:checked~#slides .inner {
	margin-left: 0
}

#slide2:checked~#slides .inner {
	margin-left: -100%
}

#slide3:checked~#slides .inner {
	margin-left: -200%
}

#slide4:checked~#slides .inner {
	margin-left: -300%
}

#slide5:checked~#slides .inner {
	margin-left: -400%
}

#container {
	width: 100%;
	overflow: hidden
}

article img {
	width: 100%
}

#slides .inner {
	width: 500%;
	line-height: 0
}

#slides article {
	width: 20%;
	float: left
}

#commands {
	margin: -25% 0 0 0;
	width: 100%;
	height: 80px
}

#commands label {
	display: none;
	width: 80px;
	height: 80px;
	opacity: 0.5
}

#commands label:hover {
	opacity: 0.8
}

#active {
	position: relative;
	z-index: 5;
    text-align: center;
    height: 50px;
    margin-top: 250px;
}

#active label {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
	width: 10px;
	height: 10px;
	background: orange
}

#active label:hover {
	background: #333;
	border-color:orange!important
}

#slide1:checked~#commands label:nth-child(2),
#slide2:checked~#commands label:nth-child(3),
#slide3:checked~#commands label:nth-child(4),
#slide4:checked~#commands label:nth-child(5),
#slide5:checked~#commands label:nth-child(1) {
	background: url('../../assets/img/right.png') no-repeat;
	float: right;
	margin: 0 12px 0 0;
    display: block;
    margin-top: -100px;
    margin-right: -100px;
    color: orange;
}
.margin-left{
    margin-left: 5px;
}

#slide1:checked~#commands label:nth-child(5),
#slide2:checked~#commands label:nth-child(1),
#slide3:checked~#commands label:nth-child(2),
#slide4:checked~#commands label:nth-child(3),
#slide5:checked~#commands label:nth-child(4) {
	background: url('../../assets/img/left.png') no-repeat;
	float: left;
    display: block;
    margin-top: -100px;
    margin-left: -90px;
}

#slide1:checked~#active label:nth-child(1),
#slide2:checked~#active label:nth-child(2),
#slide3:checked~#active label:nth-child(3),
#slide4:checked~#active label:nth-child(4),
#slide5:checked~#active label:nth-child(5) {
	background:white;
	border-color: orange!important;
}

.caption {
	line-height: 20px;
	margin: 0 0 -150%;
	position: absolute;
	padding: 320px 12px;
	color: #fff;
	text-transform: none;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	text-align: left;
	font-size: 18px
}

.caption bar {
	display: inline-block;
	padding: 10px;
	background: #000;
	border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70)
}

#slides {
	position: relative;
	padding: 2px;
	margin: 45px 0 0;
	-webkit-border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	border-radius: 2px 2px 2px 2px;
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.2)
}

#slides .inner {
	-webkit-transform: translateZ(0);
	-webkit-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
	-moz-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
	-ms-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
	-o-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
	-webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
	-moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
	-ms-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
	-o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
	transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000)
}

#slider {
	-webkit-transform: translateZ(0);
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out
}

#commands label {
	-webkit-transform: translateZ(0);
	-webkit-transition: opacity 0.2s ease-out;
	-moz-transition: opacity 0.2s ease-out;
	-o-transition: opacity 0.2s ease-out;
	transition: opacity 0.2s ease-out
}

#slide1:checked~#slides article:nth-child(1) .caption,
#slide2:checked~#slides article:nth-child(2) .caption,
#slide3:checked~#slides article:nth-child(3) .caption,
#slide4:checked~#slides article:nth-child(4) .caption,
#slide5:checked~#slides article:nth-child(5) .caption {
	opacity: 1;
	-webkit-transition: all 1s ease-out 0.6s;
	-moz-transition: all 1s ease-out 0.6s;
	-o-transition: all 1s ease-out 0.6s;
	transition: all 1s ease-out 0.6s
}

#commands,
#commands label,
#slides,
#active,
#active label {
	-webkit-transform: translateZ(0);
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out
}

#slider {
	max-width: 80%
}

@media only screen and (max-width:850px) and (min-width:450px) {
	#slider #commands {
		margin: -25% 0 0 5%;
		width: 90%;
		height: 30px
	}
	#slider #commands label {
		-moz-transform: scale(0.9);
		-webkit-transform: scale(0.9);
		-o-transform: scale(0.9);
		-ms-transform: scale(0.9);
		transform: scale(0.9)
	}
	#slider #slides .caption {
		padding: 280px 12px
	}
	#slider #slides {
		padding: 2px 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0
	}
	#slider #active {
		margin: 15% 0 0
	}
}

@media only screen and (max-width:450px) {
	#slider #commands {
		margin: -28% 0 0 1%;
		width: 100%;
		height: 70px
	}
	#slider #active {
		margin: 12% 0 0
	}
	#slider #slides {
		padding: 2px 0;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0
	}
	#slider #slides .caption {
		opacity: 0!important
	}
	#slider #commands label {
		-moz-transform: scale(0.7);
		-webkit-transform: scale(0.7);
		-o-transform: scale(0.7);
		-ms-transform: scale(0.7);
		transform: scale(0.7)
	}
}

@media only screen and (max-width:1024px) {
    #slider #commands {
		margin: -28% 0 0 1%;
		width: 100%;
		height: 70px
	}

}
@media only screen and (min-width:1024px) {
    #slider #commands {
		margin: -28% 0 0 1%;
		width: 100%;
		height: 10px
	}

}